<h4>Log In!</h4>

<% if flash[:notice] %>
    <h3><%= flash[:notice] %></h3>
<% end %>

<%= form_with model: @user, url: "login", local: true do |form| %>
    <%= form.label "Email" %><br>
    <%= form.text_field :email %><br>
    <br><%= form.label "Username" %><br>
    <%= form.text_field :username %><br>
    <br><%= form.label "Password" %><br>
    <%= form.text_field :password %><br>
    <br><%= form.submit "submit" %><br>
<% end %>

<h4>Need an Account?</h4>
<a href="/signup">Sign Up Here</a>