<h4>Sign Up</h4>

<%= form_for @users, url: {action: "create"} do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email "Email", :autocomplete => :off %>
    <br>
    <%= f.label :username %>
    <%= f.text_field :username "Username", :autocomplete => :off %>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password, :placeholder => "******" %>
    <bfr>
    <%= f.submit "Submit" %>
<% end %>

#or signup with the google omniauth thing