<h4>Upcoming Photoshoots:</h4>

<%= @photoshoots.each do |photoshoot| %><br>
    Client: <%= clients.name %><br>
    Location: <%= locations.name %><br>
    Price: <%= photoshoots.price %><br>

    <%= link_to "Edit Shoot", edit_photoshoot_path(@photoshoot) %>
    <br>
    <%= link_to "Complete Photoshoot", photoshoot_path(@photoshoot), method: 'delete' %>
    <br>


<% end %>

<a href="/photoshoots/new"><h4>Create New Photoshoot</h4></a><br>