<h4>Upcoming Photoshoots:</h4>

<%= @photoshoots.each do |photoshoot| %><br>
    Client: <%= clients.name %><br>
    Location: <%= locations.name %><br>
    Price: <%= photoshoots.price %><br>

    <a href="/photoshoots/<%= photoshoot.id %>/edit">Edit Shoot</a><br>

    <form action="/photoshoots/<%= photoshoot.id %>" method="POST"
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <button type="submit" value="delete">Complete Photoshoot</button><br>
    </form><br>

<% end %>

<a href="/photoshoots/new"><h4>Create New Photoshoot</h4></a><br>