<h4>Sign Up</h4>

<%= form_for @user, url: "/signup" do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %> 
    <br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Sign Up" %>
<% end %>

#or signup with the google omniauth thing