<h4>Sign Up</h4>

<%= form_for @user, url: "/signup" do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %> #placeholder 
    <br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <bfr>
    <%= f.submit "Submit" %>
<% end %>

#or signup with the google omniauth thing