<h4>Here's a List of our Canon Photographers</h4>

<% @photographers.each do |photographer| %><br>
    <%= photographer.name %><br>
    <%= photographer.camera %><br>
    <%= photographer.area %><br>
    <%= photographer.review %><br>
    <br><a href= "/photographers/<%= photographer.id %>">View Photographer</a><br>
 <% end %>