<h3>Welcome! Here's A List of Our Photographers</h3><br>

<%= form_tag(photographers_path, method: :get) do %>
   <%= label_tag(:search, "Search Photographers by Name:") %>
   <%= text_field_tag :search, params[:search] %>
   <%= submit_tag ("Search") %>
<% end %><br>

<% @photographers.each do |photographer| %><br>
   <%= photographer.name %><br>
   <%= photographer.camera %><br>
   <%= photographer.area %><br>
   <%= photographer.review %><br>
   <br><a href= "/photographers/<%= photographer.id %>">View Photographer</a><br>
<% end %>
