<h3>Welcome! Here's A List of Our Photographers</h3><br>

<% @photographers.each do |photographer| %><br>
   <%= photographer.name %><br>
   <%= photographer.camera %><br>
   <%= photographer.area %><br>
   <%= photographer.review %><br>
   <br><a href= "/photographers/<%= photographer.id %>">View Photographer</a><br>
<% end %>
