<h4>Photographer: <%= @photographer.name %></h4><br>
    Name: <%= @photographer.name %><br>
    Camera: <%= @photographer.camera %><br>
    Area: <%= @photographer.area %><br>

<br>  <%= link_to 'All Reviews', photographer_reviews_path(@photographer) %><br>

    
<br><%= link_to "Post a Review!", new_photographer_review_path(@photographer.id) %><br>   

    