<h4>Photographer: <%= @photographer.name %></h4><br>
    Name: <%= @photographer.name %><br>
    Camera: <%= @photographer.camera %><br>
    Area: <%= @photographer.area %><br>

    <% @photographer.reviews.each do |r| %>
        <%= r.comment %><br>
    <% end %>
    
<br><%= link_to "Post a Review!", new_photographer_review_path(@photographer.id) %><br>   

    