<h4>Photographer: <%= @photographer.name %></h4><br>
    Name: <%= @photographer.name %><br>
    Camera: <%= @photographer.camera %><br>
    Area: <%= @photographer.area %><br>
    
<%= link_to "Post a Review!", new_review_path %>    
<%= link_to "See Reviews", reviews_path %>    
# GET request for photographer.id's reviews
    #add /reviewrating here eventually
    